<div class="page-header">
  <h1>Question #<%= @question.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Id auto</dt>
  <dd><%= @question.id_auto %></dd>

  <dt>Id user</dt>
  <dd><%= @question.id_user %></dd>

  <dt>Question</dt>
  <dd><%= @question.question %></dd>

  <dt>Likes</dt>
  <dd><%= @question.likes %></dd>

</dl>
