<% if @answer.errors.any? %>
  <% @answer.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h1>Add Answer</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_answer" class="form-horizontal">
      <!-- Label and input for id_question -->


      <div class="form-group">
        <label for="id_question" class="col-sm-2 control-label">Question:</label>

        <div class="col-sm-10">
          <input type="hidden" id="id_question" name="id_question" placeholder="Id question" class="form-control" value="<%= @question.id %>">
          <%= @question.question %>
        </div>

      </div>

      <!-- Label and input for id_user -->
      <div class="form-group">
        <label for="id_user" class="col-sm-2 control-label">
        User:
        </label>
        <div class="col-sm-10">

          <%if current_user.email!=nil%>
          <%=current_user.email%>
          <%else%>
          <div class="alert alert-danger" role="alert">...</div>
          <%end%>

          <input type="hidden" id="id_user" name="id_user" placeholder="Id user" class="form-control" value="<%=current_user.id %>">
        </div>
      </div>
      <!-- Label and input for answer -->

      <div class="form-group">
        <label for="answer" class="col-sm-2 control-label">
          Answer:
        </label>
        <div class="col-sm-10">
          <input type="text" id="answer" name="answer" placeholder="Answer" class="form-control" value="<%= @answer.answer %>">
        </div>
      </div>

      <!-- Label and input for likes -->
      <div class="form-group">
        <label for="likes" class="col-sm-2 control-label">
          <!--  Likes -->
        </label>
        <div class="col-sm-10">
          <input type="hidden" id="likes" name="likes" placeholder="Likes" class="form-control" value="<%=0%>">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <input type="submit" value="Create Answer" class="btn btn-primary">
        </div>
      </div>
    </form>
  </div>
</div>


  </div>
</div>
