<div class="page-header">
  <h1>Answer #<%= @answer.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Id question</dt>
  <dd><%= @answer.id_question %></dd>

  <dt>Id user</dt>
  <dd><%= @answer.id_user %></dd>

  <dt>Answer</dt>
  <dd><%= @answer.answer %></dd>

  <dt>Likes</dt>
  <dd><%= @answer.likes %></dd>

</dl>
