
<!DOCTYPE html>
<html>
<head>
  <title>Auto Q/A: Hello World</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  <div class="container">

    <div class="jumbotron">
      <h1>Welcome to Auto Q/A!</h1>

      <p> Auto Q/A is a question and answer site for enthusiast of cars. It's 100% free, no registration required. </p>
      <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
    </div>

    <h4><span class="label label-default">Last Questions</span></h4>

    <div class="row">

      <% @autos.each do |auto| %>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="thumbnail">
        <% auto.photos.each do |foto| %>


          <img class="img-rounded" src="<%=foto.link%>">
           <% end %>
          <div class="caption">
            <h5> <a href="car"><%=details(auto)%></a></h5>

            <% auto.questions.each do |question| %>

            <div style="height: 75px" ><table>
              <td><p><%=question.question%></td></p></table>
            </div>
            <div style="height: 50px">
              <table style="width:100%">
                <tr>
                  <th>Replies</th>
                  <th><span class="badge"> <%=question.answers.count%></span></th>
                  <th>Likes</th>
                  <th><span class="badge"> <%=question.likes%></span></th>
                </tr>
              </table>
            </div>
            <div style="height: 70px">

              <p><a href="/answers/new/<%=question.id.to_s %>" class="btn btn-primary" role="button">Reply Now</a> </p>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>


     <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="thumbnail"> <img src="ad1.png"></div>
    </div>
    </div>

    <h4><span class="label label-default">Popular</span></h4>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="thumbnail">
          <img class="img-rounded" src="test_image.jpg">
          <div class="caption">
            <h5>Porsche Cayenne 2014</h5>
            <p>De que color es el caballo azul de Napoleon que no es lila <span class="badge">1070</span></p>
              <p><a href="#" class="btn btn-primary" role="button">Responder</a> </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img class="img-rounded" src="test_image.jpg">
            <div class="caption">
              <h5>Volkswagen Golf 2013</h5>
              <p>De que color es el caballo azul de napoleon que no es rojo <span class="badge">784</span></p>
              <p><a href="#" class="btn btn-primary" role="button">Responder</a> </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img class="img-rounded" src="test_image.jpg">
            <div class="caption">
              <h5>Ferrari Enzo 2015</h5>
              <p>De que color es el caballo azul de napoleon que no es azul <span class="badge">602</span></p>
              <p><a href="#" class="btn btn-primary" role="button">Responder</a> </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img class="img-rounded" src="test_image.jpg">
            <div class="caption">
              <h5 class ="text-overflow">Ferrari Enzo 2015</h5>
              <p>De que color es el caballo azul de napoleon que no es azul <span class="badge">458</span></p>
              <p><a href="#" class="btn btn-primary" role="button">Responder</a> </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
      <div class="col-md-12">
      <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Footer</div>
  <div class="panel-body">
    <p>...</p>
  </div>

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item">Contact us</li>
    <li class="list-group-item">About us</li>
    <li class="list-group-item">Services</li>
    <li class="list-group-item">Products</li>
    <li class="list-group-item">Copyleft 2014</li>
  </ul>
</div></div>
    </div>
    </div>
      </body>
      </html>
