
<!DOCTYPE html>
<html>
<head>
  <title>Auto Q/A: Hello World</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Welcome to Auto Q/A!</h1>
      <p> Auto Q/A is a question and answer site for enthusiast of cars. It's 100% free, no registration required. </p>
      <p><a href="http://www.wikipedia.com" class="btn btn-primary btn-lg" role="button">Learn more</a></p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12"><div class="thumbnail"><h1><span class="label label-default">Last Questions</span></h1></div></div>
    <div class="row">
      <%i=0%>
      <% @lastQuestions.each do |lq| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="thumbnail">
          <% auto = Auto.find(lq.id_auto)%>
          <img class="img-rounded" src="<%=auto.photos[0].link%>">
          <div class="caption">
            <h5> <a href="/autos/<%=auto.id.to_s %>"><%=details(auto)%></a></h5>
            <div style="height: 75px" ><table>
              <td><p><strong><%=lq.question%></strong></td></p></table>
            </div>
            <div style="height: 50px">
              <table style="width:100%">
                <tr>
                  <td><a href="/autos/<%=auto.id.to_s %>">Answers</a> <span class="badge"> <%=lq.answers.count%></span></td>
                </tr>
              </table>
            </div>
            <div style="height: 70px">
              <p><a href="/answers/new/<%=lq.id.to_s %>" class="btn btn-primary" role="button">Reply Now</a> </p>
            </div>
          </div>
        </div>
      </div>
      <%i=i+1%>
      <%if i==4%>
      <%break%>
      <%end%>
      <% end %>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="thumbnail"> <img src="ad1.png"></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12"><div class="thumbnail"><h1><span class="label label-default">Popular Questions!</span></h1></div></div>
      <%i=1%>
      <% while i<=4 do %>
      <div class="row">
        <%lq = @q[i] %>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="thumbnail">
            <% auto = Auto.find(lq.id_auto)%>
            <img class="img-rounded" src="<%=auto.photos[0].link%>">
            <div class="caption">
              <h5> <a href="/autos/<%=auto.id.to_s %>"><%=details(auto)%></a></h5>
              <div style="height: 75px" ><table>
                <td><p><strong><%=lq.question%></strong></td></p></table>
              </div>
              <div style="height: 50px">
                <table style="width:100%">
                  <tr>
                    <td><a href="/autos/<%=auto.id.to_s %>">Answers</a><span class="badge"> <%=lq.answers.count%></span></td>
                  </tr>
                </table>
              </div>
              <div style="height: 70px">
                <p><a href="/answers/new/<%=lq.id.to_s %>" class="btn btn-primary" role="button">Reply Now</a> </p>
              </div>
            </div>
          </div>
        </div>
        <%i=i+1%>
        <%end%>
      </body>
      </html>
