<div class="page-header">
  <h1>Auto #<%= @auto.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Brand</dt>
  <dd><%= @auto.brand %></dd>

  <dt>Model</dt>
  <dd><%= @auto.model %></dd>

  <dt>Year</dt>
  <dd><%= @auto.year %></dd>

  <dt>Price low</dt>
  <dd><%= @auto.price_low %></dd>

  <dt>Price high</dt>
  <dd><%= @auto.price_high %></dd>

  <dt>Mpg city</dt>
  <dd><%= @auto.mpg_city %></dd>

  <dt>Mpg hwy</dt>
  <dd><%= @auto.mpg_hwy %></dd>

  <dt>Comment</dt>
  <dd><%= @auto.comment %></dd>

</dl>
