
  <div class="jumbotron">
  <h2>Hi <%=current_user.email%></h1>
  <h4>You currently owns <%=current_user.autos.count%> whips!</h4>
  <% owned = current_user.autos %>
  <% owned.each do |own| %>
  <li><%=own.brand%> <%=own.model%> <%=own.year%></li>
  <% end %>

</div>

       <div class="col-sm-12">
                <div class="thumbnail">
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#">Your Historical Questions</a></li>

                  </ul>

                  <div id="accordion" class="panel-group">


                    <%i=1%>
                    <% @questions.each do |qw| %>
                    <% answs = Answer.where(:id_question => qw.id).order("likes DESC")%>

                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%=i%>"><h4><%=i%>. <strong><%=qw.question%></strong></h4> <p> Question by <strong><%=User.find(qw.id_user).email%></strong> <%=time_ago_in_words(qw.created_at)%> ago for <%=Auto.find(qw.id_auto).brand%> <%=Auto.find(qw.id_auto).model%> <%=Auto.find(qw.id_auto).year%></p>


                          <div>
                          See answers. <span class="badge"><%=qw.answers.count%></span></div></div></a>
                          </h4>
                      </div>

                      <div id="collapse<%=i%>" class="panel-collapse collapse">
                        <%i=i+1%>
                        <% answs.each do |answ| %>


                        <div class="panel-body">

                            <div>
                            <li><%=answ.answer%>
                            </div>
                            <div>by <strong><%=User.find(answ.id_user).email%></strong> <%=time_ago_in_words(answ.created_at)%> ago.
                            </div>

                            <div>

                             <a href="/answervoteup/<%=answ.id%>" class="btn btn-primary btn-xs" role="button"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a>

                             <%if answ.likes.to_f == 0%>
                             <a href="/answervotedown/<%=answ.id%>" class="btn btn-primary btn-xs" role="button"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true" disabled></span></a>

                             <%else%>
                             <a href="/answervotedown/<%=answ.id%>" class="btn btn-primary btn-xs" role="button"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
                             <%end%>

                             <strong>Votes <%=answ.likes%> </strong>



                           </div>
                          </li>
                         </div>



                         <% end %>
                       </div>
                     </div>

                     <% end %>

                   </div>
                 </div>

                 </div>
               </div>

</ul>

  </tbody>
</table>

