<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Carquiz</title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

  <style>
    /* Only necessary if you are using navbar-fixed-top */
    body {
      padding-top: 0px;
    }
  </style>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag :defaults %>

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="/"> Auto! Q/A</a>
      </div>

      <ul class="nav navbar-nav navbar-left">


        <form class="navbar-form navbar-right" action="/showup">

          <div class="form-group">
            <select name="id" class="form-control">
              <option name = "id" value="1">Select Your Whip!</option>
              <%autos = Auto.order("brand ASC")%>
              <%brand="none"%>

              <% autos.each do |auto| %>
              <%if brand!=auto.brand%>
                <%brand = auto.brand%>
                <optgroup label="<%=auto.brand%>">
              <%end%>
                <option name = "id" value="<%=auto.id%>"> <%=auto.model%> <%=auto.year%> <%="("+auto.questions.count.to_s+" questions)"%></option>
                <% end %>

              </optgroup>
            </select>
          </div>
          <button type="submit" value="Showup" class="btn btn-default">Go</button>

          </form>


      </ul>

      <!-- Collect the nav links, forms, and other content for toggling-->

      <ul class="nav navbar-nav navbar-right">
        <form class="navbar-form navbar-right" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Search</button>
        </form>

        <li><a href="/users/sign_up">sign up</a></li>
        <li><a href="/users/sign_in">sign in</a></li>
        <li><a href="<%=destroy_user_session_path%>">sign out</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid-->
</nav>

<div class="container">
  <% if notice.present? %>
  <div class="alert alert-dismissable alert-success">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= notice %>
  </div>
  <% end %>

  <% if alert.present? %>
  <div class="alert alert-dismissable alert-warning">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= alert %>
  </div>
  <% end %>

    <%= yield %>
  </div>
</body>
</html>
